<div class="jumbotron">
	<h1>Maintain your health reports here</h1>
	<p>Clinik-o helps one to maintain any health related test result.
		Its structured, safe easy to maintain. A Patient, doctor or health pro
		will be potential user of it. This would be the master history of a
		patients health all the way from his/her birth. Going forward this
		would be integrated with some AI machine (e.g. Watson health) to get
		more organised and accurate advice from it.</p>
	<p>
		<a href="#" target="_blank" class="btn btn-success btn-lg">Sign up</a>
	</p>
</div>
<div class="row">
	<div class="col-xs-4">
		<h2>Patient</h2>
		<p>Patient module helps doctors, health profetionals to create a
			patients profile.</p>
		<p>
			<a href="/api/patient" target="_blank" class="btn btn-success">Lets
				go</a>
		</p>
	</div>
	<div class="col-xs-4">
		<h2>Result</h2>
		<p>Result module helps one to record a patients test result.</p>
		<p>
			<a href="/api/result" target="_blank" class="btn btn-success">Lets
				go</a>
		</p>
	</div>
	<div class="col-xs-4">
		<h2>Admin</h2>
		<p>Admin module helps technical administrators to monitor your
			application and rectify any errors.</p>
		<p>
			<a href="/api/admin" target="_blank" class="btn btn-success">Lets
				go</a>
		</p>
	</div>
</div>